//-###########################################################################
//-  Copyright (C) 2015 by Vaughn Iverson
//-  meteor-job-collection-playground is free software released under the MIT/X11 license.
//-  See included LICENSE file for details.
//-###########################################################################

head
  title meteor-job-collection-playground

body

template(name="master")
  +top
  +yield "content"

template(name="top")
  div(class="container panel")
    h3 job-collection Playground App
    if currentUser
      span(class="pull-right")
        b UserId:
        span(class="text-info") #{userId}
    else
      span(class="pull-right")
        b You are currently in the public playground, create
        br
        b an account and sign in to have a private space.
    div.loginTemp
      +loginButtons align="right"

template(name="newJobInput")
  div.panel-body
    h4 Create a new repeating job
      span.text-muted
        | (using Later.js
        a(target="_blank" href="https://bunkat.github.io/later/parsers.html#text")
          | Text parser
        | input)
    br
    label(for="inputLater")
      | When should it run?
      span.text-muted (all times are local):
    div(class="input-group #{inputParseState}")
      input(class="form-control" id="inputLater" placeholder="e.g. Every 5 minutes")
      span(class="input-group-addon" id="newJob")
        if inputReady
          span(class="glyphicon glyphicon-time")
          |  Create new job
        else
          span(class="glyphicon glyphicon-remove-circle")
    p
    if inputReady
      table(class="table table-bordered")
        thead
          tr
            th
              | Next 3 runtimes:
        tbody
          each nextTimes
            tr
              td
                | #{.}
    span.text-muted.small
      u Fine print:
      | Jobs only run when a client is connected. This is because all "work" in this demo is
      | performed in the client code. If you close or reload your browser page while a job is
      | running (and your client was the one working on the job) then that job will not complete,
      | and after a few minutes a "reaper" job on the server will notice and "auto-fail" the
      | job so it can be retried later. Completed and cancelled jobs are also automatically removed
      | by a "cleanup" job on the server after a short period of time. If you are not signed in,
      | then the job collection you see below is being shared with other public users and will
      | update "live" with their actions. In this demo when you create a new repeating job, all
      | preexisting running or waiting jobs of that type are automatically cancelled by the server.

template(name="jobControls")
  div.panel-body
    h4 Collection Controls
    button(type="button" class="btn btn-success clear-completed")
      span(class="glyphicon glyphicon-ok")
      | Clear Completed
    button(type="button" class="btn btn-default pause-queue" data-toggle="button")
      span(class="glyphicon glyphicon-pause")
      | Pause all
    button(type="button" class="btn btn-info restart-queue")
      span(class="glyphicon glyphicon-repeat")
      | Restart all
    button(type="button" class="btn btn-warning cancel-queue")
      span(class="glyphicon glyphicon-ban-circle")
      | Cancel all
    button(type="button" class="btn btn-danger remove-queue")
      span(class="glyphicon glyphicon-remove")
      | Remove all

template(name="jobTable")
  div(class="container panel panel-default")
    +newJobInput
    +jobControls
    div.panel-body
      h4 Job Collection
      table(class="table table-bordered table-striped table-responsive")
        thead
          tr
            th Type
            th ID
            th Run
            th Updated
            th Attempts
            th Repeats
            th Status
            th Actions
        tbody
          each jobEntries
            +jobEntry
          else
            tr
              td(colspan="20" align="center")
                span.text-info No jobs in collection...

template(name="jobEntry")
  tr
    with doc
      td #{type}
      td #{jobId}
      td(class="#{futurePast}") #{runAt}
      td #{lastUpdated}
      td #{retried} / #{numRetries}
      td #{repeated} / #{numRepeats}
      td
        if running
          div.progress
            div(class="progress-bar progress-bar-info"
                role="progressbar"
                min-width="60px"
                aria-valuenow="#{progress.percent}"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: {{progress.percent}}%;")
              span(class="text-primary text-center") #{progress.percent}%
        else
          span(class="label label-#{statusBG}") #{status}
      td.button-column
        if pausable
          button(type="button"
                 class="btn pause-job btn-default btn-xs"
                 aria-hidden="true"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="Pause Job")
            span(class="glyphicon glyphicon-pause")
        if resumable
          button(type="button"
                 class="btn resume-job btn-default btn-xs"
                 aria-hidden="true"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="Resume Job")
            span(class="glyphicon glyphicon-play")
        if restartable
          button(type="button"
                 class="btn restart-job btn-info btn-xs"
                 aria-hidden="true"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="Restart Job")
            span(class="glyphicon glyphicon-repeat")
        if rerunable
          button(type="button"
                 class="btn rerun-job btn-info btn-xs"
                 aria-hidden="true"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="Rerun Job")
            span(class="glyphicon glyphicon-refresh")
        if cancellable
          button(type="button"
                 class="btn cancel-job btn-warning btn-xs"
                 aria-hidden="true"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="Cancel Job")
            span(class="glyphicon glyphicon-ban-circle")
        if removable
          if rerunable
            button(type="button"
                   class="btn remove-job btn-success btn-xs"
                   aria-hidden="true"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   title="Remove Job")
              span(class="glyphicon glyphicon-ok")
          else
            button(type="button"
                   class="btn remove-job btn-danger btn-xs"
                   aria-hidden="true"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   title="Remove Job")
              span(class="glyphicon glyphicon-remove")
